<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>031B407720B1C9F70003DDB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>031B408E20B1C9F90003DDB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>031B409920B1C9F90003DDB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
